
@{
    ViewBag.Title = "ListSaleRep";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ListSaleRep</h2>

@model List<Direct2Rep.Models.Company_SaleRep>
@using Direct2Rep.Models
@using Direct2Rep.BL
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    Dashboard
                    <small>statistics, charts and reports</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BREADCRUMB -->
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <a href="@Url.Action("Index","Admin")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span class="active">Sales Representatives</span>
            </li>
        </ul>
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class=" font-dark"></i>
                            <span class="caption-subject bold uppercase">List of Assigned Sales Representatives</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Sales Firm Name</th>
                                    <th>Email</th>
                                    <th>State Covered</th>
                                    <th>Email Receive Leads</th>
                                    <th>Images</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.companysalerep == null)
                                {
                                    <tr>
                                        <td colspan="7" class="text-center">No Data Found</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var item in ViewBag.companysalerep)
                                    {
                                        <tr>
                                            <td>@item.SaleRepresentative.Name</td>
                                            <td>@item.SaleRepresentative.SalesFirmName</td>
                                            <td>@item.SaleRepresentative.Email</td>
                                            @{
                                                List<RepStatePart> rs = new AdminBL().getRepStatePartList().Where(y => y.SaleRepId == item.SaleRepId).ToList();
                                            }
                                            <td>
                                                @foreach (RepStatePart s in rs)
                                                {

                                                    if (s == rs.LastOrDefault())
                                                    {
                                                        <span>@s.State.Name</span>
                                                    }
                                                    else
                                                    {
                                                        <span>@s.State.Name, </span>
                                                    }
                                                }
                                            </td>
                                            <td> @item.SaleRepresentative.EmailReceiveLeads</td>
                                            @if (item.SaleRepresentative.PictureUpload == null && item.SaleRepresentative.LogoUpload == null)
                                            {
                                                <td>No Image Uploaded</td>
                                            }
                                            else if (item.SaleRepresentative.PictureUpload == null && item.SaleRepresentative.LogoUpload != null)
                                            {
                                                <td>
                                                    @*<img src="@Url.Content(item.LogoUpload)" height="150" width="150" class="img-responsive underlay">*@
                                                    <a href="@Url.Content(item.SaleRepresentative.LogoUpload)" target="_blank">Logo</a>
                                                </td>
                                            }
                                            else if (item.SaleRepresentative.PictureUpload != null && item.SaleRepresentative.LogoUpload == null)
                                            {
                                                <td>
                                                    @*<img src="@Url.Content(item.PictureUpload)" height="200" width="200" class="img-responsive underlay">*@
                                                    <a href="@Url.Content(item.SaleRepresentative.PictureUpload)" target="_blank">Headshot</a>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    @*<img src="@Url.Content(item.PictureUpload)" height="200" width="200" class="img-responsive underlay">*@

                                                    <a href="@Url.Content(item.SaleRepresentative.PictureUpload)" target="_blank">Picture</a> / <a href="@Url.Content(item.SaleRepresentative.LogoUpload)" target="_blank">Logo</a>
                                                </td>
                                            }
                                            <td>
                                                <a class="btn btn-info" href="@Url.Action("UpdateSaleRep", "Company", new { Id = item.Id })">
                                                    EDIT
                                                </a>

                                                <a class="btn btn-danger" data-target="#deleteSaleRepModal" data-toggle="modal" onclick="deleteSaleRep('@item.Id')">
                                                    DELETE
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }
                                @*@if (ViewBag.salerep == null)
                                    {
                                        <tr>
                                            <td colspan="7" class="text-center">No Data Found</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var item in ViewBag.salerep)
                                        {
                                            <tr>
                                                <td>@item.Name</td>
                                                <td>@item.SalesFirmName</td>
                                                <td>@item.Email</td>
                                                @{
                                                    List<RepStatePart> rs = new AdminBL().getRepStatePartList().Where(y => y.SaleRepId == item.Id).ToList();
                                                }
                                                <td>
                                                    @foreach (RepStatePart s in rs)
                                                    {

                                                        if (s == rs.LastOrDefault())
                                                        {
                                                            <span>@s.State.Name</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@s.State.Name, </span>
                                                        }
                                                    }
                                                </td>
                                                <td> @item.EmailReceiveLeads</td>
                                                @if (item.PictureUpload == null && item.LogoUpload == null)
                                                {
                                                    <td>No Image Uploaded</td>
                                                }
                                                else if (item.PictureUpload == null && item.LogoUpload != null)
                                                {
                                                    <td>
                                                        <a href="@Url.Content(item.LogoUpload)" target="_blank">Logo</a>
                                                    </td>
                                                }
                                                else if (item.PictureUpload != null && item.LogoUpload == null)
                                                {
                                                    <td>
                                                       <a href="@Url.Content(item.PictureUpload)" target="_blank">Picture</a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                       <a href="@Url.Content(item.PictureUpload)" target="_blank">Picture</a> / <a href="@Url.Content(item.LogoUpload)" target="_blank">Logo</a>
                                                    </td>
                                                }
                                                <td>
                                                    <a class="btn btn-info" href="@Url.Action("UpdateSaleRep","Company",new { Id=item.Id})">
                                                        EDIT
                                                    </a>

                                                    <a class="btn btn-danger" data-target="#deleteSaleRepModal" data-toggle="modal" onclick="deleteSaleRep('@item.Id')">
                                                        DELETE
                                                    </a>

                                                </td>
                                            </tr>
                                        }
                                    }*@

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>

<div class="modal fade" id="deleteSaleRepModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="@Url.Action("DeleteSaleRep","Company")" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Delete</h4>
                </div>
                <div class="modal-body">
                    <p>You are going to delete Sale Representative. Are you sure?</p>
                    <input type="hidden" class="form-control" id="propId" name="Id" required>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary">Yes</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function deleteSaleRep(Id) {
        $('#propId').val(Id);
    }

</script>